#home{
  background-image: url(images/b.g1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#About{
  text-align: center;
  font-style: italic;
}
#service{
  background-image: url(images/b.g2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
#p-graph{
  display: none;
}
#feedback{
  height: 300px;
  width: 500px;
}
#contact{
  background-image:url(images/b.g.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  text-align: center;
}
.form{
  background: rgba(0,0,0,0.5);
}
#feedback{
  background: rgba(0,0,0,0.5);
}
footer{
  text-align: center;
}
#p1-gragh{
  display: none;
}
#p2-graph{
  display: none;
}

