#home{
  background-image: url(/images/b.g1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#About{
  text-align: center;
}
#service{
  background-image: url(/images/b.g2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.p1-showing{
  display: none;
}
#feedback{
  height: 300px;
  width: 500px;
}
#contact{
  background-image:url(/images/b.g.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
  -webkit-background-origin:cover ;
}
.form{
  background: rgba(0,0,0,0.5);
}
#feedback{
  background: rgba(0,0,0,0.5);
}
footer{
  text-align: center;
}
