#home{
  background-image: url(/images/b.g1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#About{
  text-align: center;
}
#service{
  background-image: url(/images/b.g2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.p1-showing{
  display: none;
}